
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
.icon-wikipedia-w:before { content: '\f266'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */